.card-detail {
  max-width: calc(80vw);
  min-width: calc(80vw);
  width: calc(80vw);

  &_container {
    width: 100%;
  }
  &__des {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    overflow-y: auto;
  }
}
.ant-descriptions-item-label {
  display: flex !important;
  align-items: center !important;
  min-width: 80px;
  width: 100px;
}
.ant-descriptions-item-content {
  display: flex !important;
  align-items: center !important;
}
.ant-descriptions-item-container {
  display: flex !important;
  align-items: center !important;
}
// .ant-collapse-content-box {
//   padding: 0px 16px !important;
//   margin-top: 8px !important;
// }
.ant-collapse-header {
  padding: 12px 16px 0px 16px !important;
  font-weight: 500;
}
