.card-detail {
  max-width: calc(80vw);
  min-width: calc(80vw);
  width: calc(80vw);
  &_container {
    width: 100%;
  }
  &__des {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    overflow-y: auto;
  }
}
.ant-descriptions-item-label {
  display: flex !important;
  align-items: center !important;
  min-width: 80px;
}
.ant-descriptions-item-content {
  display: flex !important;
  align-items: center !important;
}
.ant-descriptions-item-container {
  display: flex !important;
  align-items: center !important;
}
