.board-activity {
  &::-webkit-scrollbar {
    // height: 8px !important;
    width: 4px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
    height: 8px !important;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5) !important; /* Darker color on hover */
  }
}
