@import "../../assets/scss/variable";
.welcome {
  background: rgb(37, 56, 88);
  background: linear-gradient(
    175deg,
    rgba(37, 56, 88, 1) 0%,
    rgba(25, 60, 114, 1) 41%,
    rgba(22, 61, 120, 1) 45%,
    rgba(20, 61, 123, 1) 56%,
    rgba(7, 65, 151, 1) 100%
  );
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  padding-top: 60px;
  &__wrap {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
    margin-left: 230px;
  }
  &__button {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
  }
  &__title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 32px;
  }
  &__intro {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  &__image {
    margin-right: 136px;
  }
  &__nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    width: 100%;
    &--item {
      margin: 0 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--btn {
      cursor: pointer;
      padding: 8px 16px;
      margin: 0px 8px;
    }
    &--login {
      color: $primary-color;
      &:hover {
        font-weight: 500;
      }
    }
    &--signup {
      color: $primary-color;
      border-radius: 4px;
      border: 1px solid $primary-color;
      font-weight: 500;
      &:hover {
        background-color: #eeeeeecd;
      }
    }
  }
}
.sitename {
  color: #000;
  font-weight: 800;
  font-size: 24px;
  margin-left: 8px;
}
