.List-column {
  width: 256px;
  background-color: #f1f2f4;
  border-radius: 12px;
  height: fit-content;
  max-height: calc(100% - 16px);
  &::-webkit-scrollbar {
    // height: 8px !important;
    width: 4px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 8px !important;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Darker color on hover */
  }
  &__title {
    font-size: 14px;
    font-weight: 600;
  }
  &__header {
    line-height: 32px;
    height: 32px;
    padding: 0 8px;
    cursor: pointer;
    margin: 8px;
  }
  &__footer {
    height: 32px;
    padding: 0 8px;
    margin: 8px;

    font-size: 14px;
    font-weight: 600;
    &:hover {
      background-color: rgba($color: #ccc, $alpha: 0.22);
      cursor: pointer;
      border-radius: 4px;
    }
    &--add {
      &:hover {
        background-color: transparent;
        cursor: auto;
      }
    }
  }
  &__option {
    font-size: 16px;
    padding: 4px;
    &:hover {
      border-radius: 8px;
      background-color: rgba($color: #ccc, $alpha: 0.22);
    }
  }
  &__add {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.pop__item {
  cursor: pointer;
  &--delete {
    color: red !important;
  }
}
