.profilePopup {
  padding: 12px 0;
  background-color: #fff;
  min-width: 300px;
  border-radius: 4px;
  &__item {
    padding: 8px 24px;
    margin: 4px 0;
    cursor: pointer;
    &:hover {
      background-color: #e7e7e787;
    }
  }
  &__avatar {
    margin-right: 8px;
  }
  &__name {
    font-size: 14px;
  }
  &__mail {
    font-size: 12px;
  }
  &__title {
    margin: 8px 24px;
    font-size: 14px;
    font-weight: 600;
  }
  &__logout {
    color: red;
  }
  hr {
    border: none;
    height: 1px;
    background-color: #ccc;
  }
}
